
<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Chart designed to highlight 3D column chart rendering options.
        Move the sliders below to change the basic 3D settings for the chart.
        3D column charts are generally harder to read than 2D charts, but provide
        an interesting visual effect.
    </p>
    <div id="sliders">
        <table>
            <tr>
                <td><label for="alpha">Alpha Angle</label></td>
                <td><input type="range" class="form-control" [(ngModel)]="alpha" (ngModelChange)="onChange($event,'alpha')"> <span> {{ alpha }}</span></td>
            </tr>
            <tr>
                <td><label for="beta">Beta Angle</label></td>
                <td><input type="range" class="form-control" [(ngModel)]="beta" (ngModelChange)="onChange($event,'beta')"> <span> {{ beta}} </span></td>
            </tr>
            <tr>
                <td><label for="depth">Depth</label></td>
                <td><input type="range" class="form-control" [(ngModel)]="depth" (ngModelChange)="onChange($event,'depth')"> <span>{{ depth }}</span></td>
            </tr>
        </table>
    </div>
</figure>

